h1{
    text-align: center;
    font-family: 'Diplomata SC', cursive;
}
h2{
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
    margin-left: 10cm;
}
.para{
    font-family: 'Sansita', sans-serif;
    font-size: 1.2em;
    padding-left: 1cm;
    padding-right: 15cm;
    color: gainsboro;
}
.last-line{
    font-family: 'Lobster', cursive;
    margin-left: 10cm;
    font-size: 1.5em;
}
footer{

    margin-left: 10cm;
}
.plink{
    color: darkseagreen;
    text-decoration: none;
}
nav li{
    display: inline-block;
    padding: 0 1cm 0 0;
    margin: 0 2cm 0 0;
    font-family: 'Sansita', sans-serif;
    font-size: 1.5em;

}
li a{
    color: darkslategray;
    font-size: 1.1em;
    font-weight: bold;
}
ul{
    text-align: right;
}
a{
    text-decoration: none;
}
body{
    background-image: url("image/img10.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}