h1{
    text-align: center;
    font-family: 'Diplomata SC', cursive;
}
h2{
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
    text-align: center;
}
.para{
    font-family: 'Sansita', sans-serif;
    font-size: 1.2em;
    padding-left: 1cm;
    padding-right: 15cm;
    color: gainsboro;
}
.last-line{
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 1.5em;
}
footer{
    text-align: center;
}
.plink{
    color: darkorchid;
    text-decoration: none;
}
nav li{
    display: inline-block;
    padding: 0 1cm 0 0;
    margin: 0 2cm 0 0;
    font-family: 'Sansita', sans-serif;
    font-size: 1.5em;

}
ul{
    text-align: right;
}
a{
    text-decoration: none;
}
body{
    background-image: url("image/img10.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}